3rdParty/protobuf/lib/libprotobufd.lib filter=lfs diff=lfs merge=lfs -text
3rdParty/protobuf/lib/libprotocd.lib filter=lfs diff=lfs merge=lfs -text
.vs/Falcon_2023/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
